*{
margin:0;
padding:0;

}
body {
    background-color: lightblue;
    background-image: link="Images/potter.jpg";
    color: #777777;
    
}

table{ color:blueviolet}
h1{color:#FF0ABB;

}

.topper{
    background-color:bisque;
    margin-bottom: 1;
    border: 2px;
    padding:2px;
}
#Top{color:#FF0000;}
html{font-size:20px}

img{

    
    max-height: 50vh;
    max-width:70vh;
}
   